html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: black;
  overflow-x: hidden;
  font-family: Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.8rem;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5;
  margin-bottom: 25;
}

/* Loader */
.loader {
  background: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  position: fixed;
  z-index: 10;
  justify-content: center;
  justify-items: center;
}

/* Navigation */
.navigation-container {
  position: fixed;
  bottom: 0;
}

.navigation-items {
  display: flex;
  justify-content: center;
}

.background {
  background: rgb(190, 187, 187);
  position: fixed;
  right: 0;
  width: 100%;
  height: 60px;
  z-index: -2;
}

.clickable {
  color: dodgerblue;
  cursor: pointer;
  user-select: none;
}
.clickable:hover {
  filter: brightness(110%);
}

/* Images Container */
.images-container {
  width: 800px;
  margin-bottom: 50px;
}

.card {
  background: rgba(150, 143, 143, 0.2);
  margin: 10px 10px 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(105, 100, 100, 0.2);
  transition: 0.3s;
}

.card-img-top {
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0 0;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(71, 68, 68, 0.3);
}

.card-body {
  padding: 20px;
}

.card-title {
  margin: 10px auto;
  font-size: 24px;
  color: rgb(197, 47, 47);
}

.card-text,
.text-muted {
  color: whitesmoke;
}

/* Save Confirmation */
.save-confirmed {
  background: white;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  position: fixed;
  bottom: 25px;
  right: 50px;
}

/* Hidden */
.hidden {
  display: none;
}

/* Large Smartphone (Vertical) */
@media screen and (max-width: 800px) {
  body {
    line-height: 1.4rem;
    font-size: 0.9rem;
    text-align: justify;
  }
  .images-container {
    width: 100%;
  }

  .card-title {
    font-size: 20px;
  }
  .save-confirmed {
    right: 25px;
  }
}
